.footer{
    background-color: $colfoot;
    text-align: $textcenter;
    color: $coltfottext;
 a{
    display: $disinlineflex;
    margin-right: $marten;
    margin-left: $marten;
    justify-self: $textcenter;
    text-align: $textcenter;
}
}