@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
$fuente: 'Montserrat', sans-serif;

$textunorem:1rem;
$textunomrem:1.5rem;
$textdosrem:2rem;
$textdosmrem:2.5rem;
$texttresrem:3rem;
$texttresmrem:3.5rem;

$textcenter:center;
$textright:right;
$textleft:left;

$textboldeight:800;
$textboldseven:700;
$textboldsix:600;