
h1{
    color: #4a285e;
    font-size: xxx-large;	
    text-align: $textcenter;
}

h2{
    color: #9e4acf;
    text-align: $textcenter;
    font-size: $texttresrem;
}

h3{
    color: #000000;
    text-align: $textcenter;
    font-size: $texttresrem;
}